/*@import '/static/js/highcharts/css/highcharts.css';*/
@import 'https://code.highcharts.com/css/highcharts.css';


.highcharts-background {
    fill: #ffffff;
    stroke: #a4edba;
    stroke-width: 2px;
}

.highcharts-graph {
    fill: ;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.highcharts-root text {
    stroke-width: 1;
}
