{% extends "base.html" %}

    
{% block title %} CONFIGURATION {% endblock %}

{%block css%}
   <link rel="stylesheet" href="/static/css/homepage.css" />
{% endblock %}

{% block header %} CONFIGURATION WATTMON {% endblock%}

{% block nav%}


{% endblock %}


{% block content %}
<br><br><br><br><br>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_ul}}
    <br>
    <input type="submit" value="Envoyer"/>
</form>


{% endblock %}

