<!DOCTYPE html>
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/homepage.css" />
{% endblock %}

{% block title %}

<div>GRAPH PH APPLICATION </div>

{% endblock %}

{% block content %}
    <body>
        <p>Date {{date}} </p>
        <h2>this application provide display data comming from a Wattmon setting or a manual setting</h2>
    </body>

{% endblock %}

{% block nav %}

    <p><a href="/graph_pH/manualplot"> <button type="submit"> MANUAL </button> </a> </p>
    <a href="/graph_pH/wattmonplot"> <button type="submit"> WATTMON </button> </a>

{% endblock %}
