<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <header> PLOT WATTMON DATA </header>
        {% load static %}
        <link rel="stylesheet" href="/static/css/plot.css">
        <link rel="stylesheet" href="/static/js/highcharts/js/highcharts.css">
        <script src="/static/js/jquery/jquery-1.8.3.js" type="text/javascript"></script>
        <script src="/static/js/highcharts/js/highcharts.js" type="text/javascript"></script>
        {% load chartit %}
        {{ chart|load_charts:"cht" }}
    </head>
    <body>
        {% load static %}
        <div id="cht"></div>
        <h1 id="com"> COMMANDE <h1>
        <h1> <a href="/graph_pH/wattmonplot" id="url" >
            <button width="150" height="70" type="button" id="bt_start">
                RESET</button></a>
            <a href="/graph_pH/" id="url" >
            <button width="150" height="70" type="button" id="bt_start">
                HOME</button></a>
         </h1>
         <h1>
             <a href="/graph_pH/config" id="url" >
                 <button width="150" height="70" type="button" id="bt_config">
                     CONFIG</button></a>
         </h1>
    </body>
</html>
