<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <header> <strong>MANUAL PLOT SECTION </strong> </header>
        {% load static %}
        <link rel="stylesheet" href="/static/css/plot.css">
        <link rel="stylesheet" href="/static/js/highcharts/js/highcharts.css">
        <script src="/static/js/jquery/jquery-1.8.3.js" type="text/javascript"></script>
        <script src="/static/js/highcharts/js/highcharts-5.0.11.js" type="text/javascript"></script>
        {% load chartit %}
        {{ chart|load_charts:"cht" }}
    </head>
    <body>
        {% load static %}
        <div id="cht" src= "{% static "css/highcharts/highcharts.css" %}"></div>
        <h1> <a href="/graph_pH/setval"> <button type="button">ADD NEW VALUES</button> </a>  </h1>
        <h1> <a href="/graph_pH/resetmanual">  <button type="button">RESET THE PLOT</button> </a>  </h1>
    </body>
</html>
 
