{% extends "base.html" %}


{% block title %} MANUAL SET VALUES {% endblock %}

{%block css%}
<link rel="stylesheet" href="/static/css/homepage.css" />
{% endblock %}

{% block header %} SET VALUES {% endblock%}

{% block nav%}


{% endblock %}


{% block content %}
<br><br><br><br><br>
<form action="" method="POST">
    {% csrf_token %}
    <br>
    {{form.as_ul}}
    <br>
    <input type="submit" value="Envoyer"/>
</form>


{% endblock %}
