{% extends "base.html" %}

{% block title %} SUCCESS FOR DATA {% endblock %}

{% block nav %} <li><a href="/graph_pH/manualplot">Show the plot</a></li>  {% endblock%}

    
{% block content %}
    
    
<p> New data : {{ph}} {{rh2}} </p>
    
    {% endblock %}


