{% extends "base.html" %}

{%block css%}
<link rel="stylesheet" href="/static/css/homepage.css" />
{% endblock %}

{% block title %} SUCCESS RESET Wattmon data {% endblock %}

{% block nav %} <li><a href="/graph_pH/wattmonplot">Return to the plot</a></li>  {% endblock%}

    
{% block content %}

{% endblock %}


