{% extends "base.html" %}

{%block css%}
<link rel="stylesheet" href="/static/css/homepage.css" />
{% endblock %}

{% block title %} SUCCESS RESET {% endblock %}

{% block nav %} <li><a href="/graph_pH/manualplot"> Return to the plot</a></li>  {% endblock%}

    
{% block content %}
    
{% endblock %}


