<!DOCTYPE html>
<html lang="fr">
<head>
    {% block css %}
    {% load static %}
   <!link rel="stylesheet" href="/static/css/style.css" />
   {% endblock %}
   
   <title>{% block title %}Titre de la page{% endblock %}</title>
</head>
<body>
    <header> {% block header %} Appli web Wattmon {% endblock %}</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/contact/">Contact</a></li>
       </ul>
       {% endblock %}
   </nav>
   <div id="content">
       {% block content %}
       
       {% endblock %}
   </div>
<footer></footer>
</body>
</html>
