
body {
    background-color:#00ffff ;
    /*background-image: url("soleil.png");*/
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
}

p
{
    color: white;
}

button
{
    color: orange;
    background-color: white; /* Green */
    border: ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header

{
    text-align: center;
    color: orange;
    font-size: 30px;
    
    
}



